html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }


      /* 
			background color container: EBEBD3
			font color: 333
			hover active background-color: EBEBD3
			hover active color: white 
			hover nav color: CDD6D0

			accent color questionmark: 6BBAEC
       */

body {
	background-color: #EBEBD3;
	color: white;
}

#container {
	width: 80%;
}

header {
	position: fixed;
	height: 100vh;
	width: 20%;
	background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
	display: block;
	background-color: white;
	padding: 10px 20px;
	color: #333;
	text-decoration: none;
	font-size: 1em;
}

a {
	color: red;
}

li a.active {
    background-color: #EBEBD3;
    color: white;
    font-weight: bold;
}

li a:hover:not(.active) {
    background-color: #CDD6D0;
    color: #333;
}

p {
	color: 333;
}
